DATABASE_URL=postgresql://user:password@host:port/database

GOOGLE_SECRET=AAAAA-BBBB-CCCCCCCCCCCCCCCCCCCCC
GOOGLE_CLIENT=123123123123-abc123abc123.apps.googleusercontent.com


BETTER_AUTH_SECRET=asdasdadsadas1N
BETTER_AUTH_URL=http://localhost:3001

CLIENT_URL=http://localhost:3000

GOOGLE_APP_EMAIL=gmail@gmail.com
GOOGLE_APP_PASSWORD=aaaa bbbb cccc dddd

KOMERCE_API_URL=https://api-sandbox.collaborator.komerce.id/tariff/api/v1

NODE_ENV=

# Payment Configuration
PAYMENT_DUE_HOURS=1

# Bank Transfer Payment Details
BANK_NAME=BCA
BANK_ACCOUNT_NUMBER=1234567890
BANK_ACCOUNT_HOLDER=PT. Shopper Indonesia
BANK_CODE=bca

# Midtrans Payment Gateway Configuration
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_MERCHANT_ID=
MIDTRANS_IS_PRODUCTION=false